<!DOCTYPE html>

<html lang="en">
  <body>
  <head>
    <title>Ducky</title>
    
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <div class="navBar">
    <nav>
      <a href="https://ducky.is-a.dev/" class="navText">Ducky</a>
    </nav>
  </div>
  
    <section class="wrapper"><br>
    <h2>FQ-HLL web autocorrector</h2>
      <br>
      <a class="codebadges" href="https://github.com/ducky4life/web-autocorrector"><img src="https://img.shields.io/badge/Source Code-181717?logo=github&logoColor=fff&style=for-the-badge" alt="GitHub Badge"></a>
      <p style="padding-top: 10px;">also check out the <a href="https://github.com/ducky4life/web-autocorrector?tab=readme-ov-file#arguments">API</a>!</p>
      <br>
      
      <form method="post" enctype="multipart/form-data">

          <textarea class="bigtextarea textbox" type="text" name="input" placeholder="enter url to text file or text to be autocorrected (default separator is newlines)..."></textarea>
          <br><p>or upload from input file</p><br>
          <input class="button button3" type="file" name="input_file_upload" accept=".txt" style="margin-bottom: 30px;">
          <details>
            <summary class="button button3">custom dictionary...</summary>
            <div class="dictionary-box">
              <input class="textbox" type="text" name="dictionary" placeholder="enter path (dictionary/example.txt) or link to dictionary txt file" />
              <p>or upload a txt file...</p>
              <br>
              <input class="button button3" type="file" name="dictionary_file_upload" accept=".txt">
              <p>note that custom dictionaries would be treated as if it's from most to least frequently used</p>
            </div>
          </details>

      <div style="place-items: left;">

        <div style="display: flex; justify-content: center;">
          <p style="padding-right: 50px;">export as file</p>
          <label class="switch">
            <input type="checkbox" name="output_file_toggle">
            <span class="slider round"></span>
          </label>
        </div>

        <div style="display: flex; justify-content: center;">
          <p style="padding-right: 50px;">alphabetize output</p>
          <label class="switch">
            <input type="checkbox" name="alphabetize_toggle">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
        
       <div style="display: flex; justify-content: center;">
         
        <div style="padding-right: 10px;">
          <p>custom separator</p><br>
          <textarea name="separator"></textarea>
        </div>

        <div style="padding-left: 10px;">
          <p>keyboard layout</p><br>
        <select name="keyboard_layout" class="button button3">
          <option value="qwerty">QWERTY</option>
          <option value="azerty">AZERTY</option>
          <option value="qwertz">QWERTZ</option>
          <option value="dvorak">Dvorak</option>
          <option value="colemak">Colemak</option>
        </select>

        </div>
         
       </div>
          <p>number of results:</p>
          <br>
          <input class="button button3" type="submit" name="action" value="1" />
          <input class="button button3" type="submit" name="action" value="2" />
          <input class="button button3" type="submit" name="action" value="3" />
      </form>

      {% for ac_word in message %}
            <p>{{  ac_word  }}</p>
      {% endfor %}
      {% if error %}
            <p>{{  error  }}</p>
      {% endif %}

    </body>
  </section>
</html>
